<!DOCTYPE html>
<html>

  <head>

      <% include ../partials/header.ejs %>
	</head>
	
	<script>
		function loadPage() {
			getPerson();
			getGames();
		}
		function getPerson() {
			var person = $("#person");
			$.get('/getPerson',
				0,
				function callback(data, status) {
					if(status != "success") {
						console.log(status);
					} else {
						person.append('<div class="row pad">');
						person.append('<label for="name">Name: ' + data.name + '</label>');
						person.append('</div>');
						person.append('<div class="row pad">');
						person.append('<label for="name">Street: ' + data.street + '</label>');
						person.append('</div>');
						person.append('<div class="row pad">');
						person.append('<label for="name">City: ' + data.city + '</label>');
						person.append('</div>');
						person.append('<div class="row pad">');
						person.append('<label for="name">State: ' + data.state + '</label>');
						person.append('</div>');
						person.append('<div class="row pad">');
						person.append('<label for="name">Zip: ' + data.zip + '</label>');
						person.append('</div>');
						person.append('<div class="row pad">');
						person.append('<label for="name">Card Number' + data.card_num + '</label>');
						person.append('</div>');
					}
				});
		}

		function getGames() {
			var games = $("#games");
			$.get('/getGames',
				0,
				function callback(data, status) {
					if(status != "success") {
						console.log(status);
					} else {
						for(var i = 0; i < data.length; i++) {
							games.append('<p>' + data[i].name + '</p>');
						}
					}
				});
		}
	</script>

  <body onload="loadPage()">
  
    <header>
      <h1 class="text-center title"> <span class="red">Rager</span>Gamer</h1></br>

      <p class="text-right"><!--?php echo "Welcome " . $_SESSION['username']?--></p>
      <div class="pull-right">
        <a href="/browse">Back to browse</a>
        <a href="/updateInfo">Update Info</a>
        <a href="/logout">Logout</a>
        
      </div>  
      </br></br></br>

      <hr class="thick">

    </header>

  <h1 class="text-center">Welcome to your account!</h1>


  <h4 class="text-center">Account Details</h4>

  <div id="person" class="col-xs-12 text-center">
		<!-- This will be filled by the getPerson function -->
  </div>

</br>
</br>
  <h4 class="text-center">Here are all of the games you've bought!</h4>

	<div id="games" class="text-center">
  <!--use node to list games that have been sold and bought-->
	</div>

  </body>