<!DOCTYPE html>
<html lang="en">

  <head>

    <% include ../partials/header.ejs %>

    <script>
      function loadGames() {

        //do an ajax
        $.get('/getGames',
          0,
          function callback(data, status) {
          //when the thing comes back, update the DOM. 
          if (status != 'success') {
            console.log(status);
          } else {
            updateGames(data);
          }
        });
      }

      function updateGames(data) {
        if (data && data.length > 0) {
          var resultList = $("#games");
          resultList.empty();

          for (var i = 0; i < data.length; i++) {
            var title = data[i].name;
            resultList.append('<div class="row pad">');
            resultList.append('<label for="' + data[i].id + '">' + data[i].name + '</label>');            
            resultList.append('<img src="' + data[i].picture +  '" alt="' + data[i].name + '" height="270" width="480" class="img-responsive center-block">');
            resultList.append('<label id="' + data[i].id + 'l' + '" ></label></br>');                        
            resultList.append('<button class="btn-lg btn-primary" onclick="' + "addToCart(" + data[i].id + ")" + '">Buy</button>');
            resultList.append('</div>');
            
            
          }
        }
      }

      function addToCart(id) {
        $.get('/addToCart',
          {'id' : id},
          function callback(data, status) {
          //when the thing comes back, update the DOM. 
          if (status != 'success') {
            console.log(status);
          } else {
            console.log(status);
          }
          var label = $('#' + id + 'l');
          label.html('This item has been added to the cart ' + data.amount + ' time(s)');
        });
        //testing
      }
    </script>

  </head>

  <body onload="loadGames()">

    <header>
      <h1 class="text-center title"> <span class="red">Rager</span>Gamer</h1></br>

      <p class="text-right"><!--?php echo "Welcome " . $_SESSION['username']?--></p>
      <div class="pull-right">
        <a href="/account">Go to account</a>
        <a href="/cart">Go to cart</a>
        <a href="/logout">Logout</a>
        
      </div>  
      </br></br></br>

      <hr class="thick">

    </header>
    <div id="games" class="col-xs-12 text-center"></div>

    <!--?php
      $statement = $db->prepare("SELECT name, picture FROM games");
      $statement->execute();
      // Go through each result
      while ($row = $statement->fetch(PDO::FETCH_ASSOC))
      {
        // The variable "row" now holds the complete record for that
        // row, and we can access the different values based on their
        // name
        echo '<div class="col-xs-12 text-center">';
        echo '<div class="row pad">';
        echo '<img src="' . $row['picture'] . '" alt="' . $row['name'] . '" height="270" width="480" class="img-responsive center-block">';
        echo '<button class="btn-lg btn-primary" onclick="' . "addToCart('" . $row['name'] . "')" . '">Buy</button>' . "\n";
        echo '</div>';
      }
    ?-->

  </body>

</html>