<!DOCTYPE html>
<html lang="en">

  <head>
      
    <% include ../partials/header.ejs %>
      
  
  <script>
    function getCart() {
      $.get('/getCart',
          0,
          function callback(data, status) {
          //when the thing comes back, update the DOM. 
          if (status != 'success') {
            console.log(status);
          } else {
            loadCart(data);
          }
        });
    }
    function loadCart(data) {
      var resultList = $("#cart");
      if(data.session) {
        resultList.append("<h2>You have no items in your cart</h2>");
        return;
      }

      var cart = [];

      for(var i = 0; i < data.games.length; ++i) {
        console.log
        if(data.session[i].id = data.games[i].id) {
          cart.push({id : data.games[i].id, name : data.games[i].name});
        }
      }
      for(var i = 0; i < cart.length; ++i) {

        resultList.append('<div class="row pad">');
        resultList.append('<h4>' + cart[i].name + '</h4>');
        resultList.append('<button onclick="deleteItem(' + cart[i].id + ')"> Delete</button>');
        resultList.append('</div>');
      }
    }
  </script>
  </head>

  <body onload="getCart()">
    <header>
      <h1 class="text-center title"> <span class="red">Rager</span>Gamer</h1></br>

      <p class="text-right"><!--?php echo "Welcome " . $_SESSION['username']?--></p>
      <div class="pull-right">
        <a href="/confirm">Purchase</a>
        <a href="/account">Go to account</a>
        <a href="/browse">Back to Browse</a>
        <a href="/logout">Logout</a>
        
      </div>  
      </br></br></br>

      <hr class="thick">

    </header>
    <div id="cart" class="col xs-12 text-center">
    </div>
  </body>

</html>