<!DOCTYPE html>
<html lang="en">

  <head>
      
    <% include ../partials/header.ejs %>
      
  
  <script>
    // function deleteItem(item) {
    //   $.ajax({
    //     type: "POST",
    //     url: 'deleteItem.php',
    //     data: {
    //       item : item
    //     },
    //     success: function(response) {
    //       console.log(response);
    //     }
    //   });
      
    //   location.reload();
    }
  </script>
  </head>

  <body>
    <header>
      <h1 class="text-center title"> <span class="red">Rager</span>Gamer</h1></br>

      <p class="text-right"><!--?php echo "Welcome " . $_SESSION['username']?--></p>
      <div class="pull-right">
        <a href="/confirm">Purchase</a>
        <a href="/account">Go to account</a>
        <a href="/browse">Back to Browse</a>
        <a href="/logout">Logout</a>
        
      </div>  
      </br></br></br>

      <hr class="thick">

    </header>

    <div class="col xs-12 text-center">
      <!-- if no items in cart -->
      <h3>There are no items in your cart</h3>
      <!-- if there are items in the cart -->
      <h3>These are the item(s) that are currently in your cart.</h3>
      <!-- load items in cart --> 
    </div>
  </body>

</html>