<!DOCTYPE html>
<html lang="en">

  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="browse.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
    <header>
      <h1 class="text-center title"> <span class="red">Rager</span>Gamer</h1></br>

      <p class="text-right"><!--?php echo "Welcome " . $_SESSION['username']?--></p>
      <div class="pull-right">
        <a href="/account">Go to account</a>
        <a href="/browse">Back to Browse</a>
        <a href="/logout">Logout</a>
        
      </div>  
      </br></br></br>

      <hr class="thick">

    </header>

    <div class="text-center">
    <!-- Display the items that were bought, and where they will be shipped to -->

      <a href="/browse">Back to Shopping</a>
    </div>

  </body>

</html>