<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <h3>Create Person</h3>

  <form action="/createPerson">
    username <input type="text" name="username" value="rolo">
    password <input type="text" name="password" value"yolo">
    name <input type="text" name="name" value="jo">
    street <input type="text" name="street" value="street">
    city <input type="text" name="city" value="city">
    state <input type="text" name="state" value="state">
    zip <input type="text" name="zip" value="12345">
    card number <input type="text" name="cardNum" value="1234567890123456">
    <input type="submit">
  </form>

  <h3>Get person</h3>

  <form action="/getPerson">
    ID <input type="text" name="id" value="1">
    <input type="submit">
  </form>

  <h3>update person</h3>
  <form action="/updatePerson">
    id <input type="text" name="id" value="1">
    name <input type="text" name="name" value="changed">
    street <input type="text" name="street" value="changed">
    city <input type="text" name="city" value="changed">
    state <input type="text" name="state" value="changed">
    zip <input type="text" name="zip" value="12345">
    card number <input type="text" name="cardNum" value="1234567890123456">
    <input type="submit">
  </form>

  <h3>create game</h3>

  <form action="/createGame">
    title <input type="text" name="title" value="title">
    rating <input type="text" name="rating" value="rating">
    msrb <input type="text" name="msrb" value="msrb">
    stock <input type="text" name="stock" value="stock">
    buyPrice <input type="text" name="buyPrice" value="buyPrice">
    sellPrice <input type="text" name="sellPrice" value="sellPrice">
    picture <input type="text" name="picture" value="picture">
    description <input type="text" name="description" value="description">
    <input type="submit">
  </form>



</body>
</html>
