<!DOCTYPE html>
<html lang="en">

  <head>
      <% include ../partials/header.ejs %>
  </head>

  <body>

    <header>
      <h1 class="text-center title"> <span class="red">Rager</span>Gamer</h1></br>

      <p class="text-right"><!--?php echo "Welcome " . $_SESSION['username']?--></p>
      <div class="pull-right">
        <a href="/account">Back to account</a>
        <a href="/browse">Back to Browse</a>
        <a href="/logout">Logout</a>
        
      </div>  
      </br></br></br>

      <hr class="thick">

    </header>
    
    <div class="col-xs-12 text-center">    
      <h3>Update your information, so we can send you sweet games!</h3>
      <form  action="update.php" method="post">
        <div class="row pad">
          <label for="name">name:</label>
          <input type="text" name="name" id="name" value="input with ejs" pattern="^[a-z*A-Z*\s]{1,50}$" title="You sure that is your name??">
        </div>
        <div class="row pad">
          <label for="street">street:</label>
          <input type="text" name="street" id="street" value="input with ejs" pattern="^[a-z*A-Z*0-9*\s]{1,100}$" title="You sure that is your street?">
        </div>
        <div class="row pad">
          <label for="city">city:</label>
          <input type="text" name="city" id="city" value="input with ejs" pattern="^[a-z*A-Z*\s]{1,100}$" title="You sure that is your city?">
        </div>
        <div class="row pad">
          <label for="state">State:</label>
          <input type="text" name="state" id="state" value ="input with ejs" pattern="^[A-Z*]{2}$" title="Make sure to use your states capitalized two letter code">
        </div>
        <div class="row pad">
          <label for="zip">Zip Code:</label>
          <input type="text" name="zip" id="zip" value="input with ejs" pattern="^[0-9*]{5}$" title="You sure that is your Zip Code?">
        </div>
        <div class="row pad">
          <label for="cardNum">Credit Card number (visa only):</label>
          <input type="text" name="cardNum" id="cardNum" value="input with ejs" pattern="^[0-9*]{16}$" title="You sure that is your Card Number? Do not use dashes.">
        </div>
        <div class="row pad">
          <input type="submit">
        </div>
      </form>
    </div>

  </body>

</html>